/* Customers User Dashboard */

/* ==Dashboard Menu== */

.dashboard_menu ul { margin:0; padding:0; position:relative; }
.dashboard_menu ul li { list-style:none;  }
.dashboard_menu ul a { 
	display:block; 
	font-size:12px; 
	color:#000; 
	padding:15px 18px; 
	text-transform:uppercase; 
	background-color:#d2d2d2; 
	text-decoration:none; 
	border-bottom:1px solid #ececec;
	position:relative;
	font-weight:700;
}
.dashboard_menu ul a i {
	position:absolute;
	right:15px;
	color:#333333;
}
.dashboard_menu ul a:hover,
.dashboard_menu ul a.active {
	background-color:#333333; 
	color:#ececec;
}
.dashboard_menu ul a.active i,
.dashboard_menu ul a:hover i {
	color:#fff;
}

/* Search Section */
.search_wrapper .form-group {
	width:253px;
	float:right;
}
.search_wrapper .form-group input {
	border-radius:0;
	font-size:12px;
	border:1px solid #d3d2d2;
}
.search_wrapper .form-control-feedback {
	color:#a1a0a0;
}

/* Dashboard Content */

.dahsboard_content p {
	color:#6c6b6b;
	font-size:13px;
}
.dashboard_content a { color:#767676; letter-spacing: -0.5px; font-size:9px; }

.dashboard_content a.csv-data {
	font-size: 11px;
}

.page-template-page-welcome .dahsboard_content hr {
	margin-bottom:12px;
	border-top:2px solid #d3d2d2;
}

.filter-wrapper .filter-item {
	width: 19.6%;
    margin-right: 3px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

/* Filter */
.filter-wrapper {
	background:#dad9d9;
	margin-bottom:11px;
	padding:20px 20px 15px 20px;
}
.filter-wrapper .filter-container {
	display: inline-block;
}
.filter-wrapper .filter-container .filter-item select {
	font-size:9px;
}

/* Table */
.dashboard_content { color:#333; }
.dashboard_content .table-wrapper table tr th {
	background-color:#333333;
	color:#fff;	
	min-height:40px;
	font-weight:normal !important;
	text-transform:uppercase;
	text-align:left;
	vertical-align:middle;
}
.dashboard_content .table-wrapper table td {
	vertical-align: middle;
    height: 45px;
    padding: 7px 8px;
}
.dashboard_content .table-wrapper table th,
.dashboard_content .table-wrapper table td,
.dashboard_content .table-wrapper table tr {
	border:0 !important;
	font-size:11px !important;
	text-align: center;
}
.dashboard_content .table-wrapper table tr { background:#e4e4e4; }
.dashboard_content .table-wrapper table tr:nth-child(4n+1),
.dashboard_content .table-wrapper table tr:nth-child(4n+2) { background: #f6f6f6; }

.dashboard_content .table-wrapper a.btn {
	border-radius: 0;
    min-width: 108px;
    padding: 7px;
    border: 0;
    letter-spacing: 0.3px;
    color: #fff;
    text-decoration: none;
}
.dashboard_content .table-wrapper a.closed.btn {
	background-color:#ed1c24;
}
.dashboard_content .table-wrapper a.initial.btn {
	background-color:#1848e4;
}

/* Link Actions */
.dashboard_content .table-wrapper span.link-action {
	float:right;	
}
.dashboard_content .table-wrapper span.link-action a {
	text-transform:uppercase;
	color:#767676;
	margin-right:17px;
}

/* Update */


.dashboard_content .child-td a {
    text-transform: uppercase;
	text-decoration: underline;
}

.torin-calc .request-final {
	color:#ed1c24 !Important;
}


.child1-td:after {
	background:red;
	height:5px;
	width:100%;
}

.child1-td {
	margin-left:20px !Important;
	min-height: 50px !Important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    align-items: center;
}

.child-td, .chid-td {
	margin-left:20px !Important;
	min-height: 50px !Important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    align-items: center !important;
    width: 100px !important;
}

.table-wrapper tbody tr:before {

	border-bottom:1px solid red !important;
	height: 5px;
	width:100%;
	background:red;
}	

/* Updates */

.torin-calc .request-final {
	color:#ed1c24 !important;
}

.dashboard_content .table-wrapper table tr.row-details {
	text-transform: uppercase;
	text-decoration: underline;
	border-top: 1px solid #f5f5f5 !important;
}

table.tablesorter thead tr th {
    height: 50px;
    padding: 10px 0px 10px 12px !important;
    vertical-align: middle !important;
}

.filter-container .filter-item .form-control option {
	font-size:10px;
	padding: 20px !important;
}

.torin-calc table > thead > tr > th, .table > thead > tr > th, table.table>thead:first-child>tr:first-child>th {
	width:0px;
	padding-right: 15px !important;
}

.torin-calc .new-quote {
    text-transform: uppercase !important;
    padding: 9px 20px !important;
    font-size: 13px;
    letter-spacing: -0.5px !important;
}
.torin-calc .new-quote:hover {
	color: #fff;
}

.dashboard_content .table-wrapper table tr.row-vm:nth-child(4n+1), .dashboard_content .table-wrapper table tr.row-vm:nth-child(4n+2) {
	border-bottom: 1px solid #dedede !important; 
}

.dashboard_content form table.table.tablesorter {
	margin-bottom: 10px !important;
	table-layout: fixed;
}

.torin-calc .filter-wrapper .filter-container .filter-item select {
    padding: 10px 0px 10px 5px;
    border-radius: 3px;
    border: 1px solid #bbbaba;
}

.mcr-form-wrap .form-group label {
	font-size: 13px;
}
#mcr-pm-form .form-control, #mcr-register-form .form-control {
	height: 35px;
    font-size: 12px;
    font-style: italic;
}

.main-quote-wrap .force-overflow th.black-th{
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

.main-quote-wrap .force-overflow tr td input { 
	text-align: center;
	font-size: 11px;
}

/*section.content p {
	margin-bottom: 5px !important;
}*/

.torin-calc .filter-wrapper .filter-container .filter-item select {
    letter-spacing: 0.1px;
}

.content_wrap ul li {
	margin-bottom: 10px;
}

.content_wrap a,
.content_wrap ul.faqs li a {
	color: #000;
}

.content_wrap a:hover,
.content_wrap ul.faqs li a:hover {
	color: #ed1a24;
}

.table-wrapper#style-2::-webkit-scrollbar-thumb {
    background: #333 !important; 
    width: 15px;
}

#mcr-pm-form #mcr-field-register_pm_btn, #mcr-register-form #mcr-field-register_btn {
    background: #000;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 10px 13px 0px 0;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 768px) {

	.filter-wrapper .filter-container {
		display: inherit;
	}
	.torin-calc .filter-wrapper .filter-container .filter-item select {
		width: 100%;
	}
	.filter-item {
		widows: 50% !important;

	}

}
