/* Large desktops and laptops */
@media (min-width: 1200px) {
	.page-id-220 .cd-top {
	    height: 60px;
	    width: 60px;
	    right: 30px;
	    bottom: 30px;
	  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*landing page*/
	.gallery-video-content{
		margin: 0 auto;
    	width: 625px;
	}
	.left-table-align, .right-table-align{float: none;}
	section.section-landing-page h1 {
	    font-size: 34px;
	    margin-bottom: 30px;
	    padding: 0 70px;
	}

	.panel-menu .item .menu-wrapper h3 {
	    font-size: 16px;
	    left: 15px;
	    bottom: 15px;
	}

	/*brand*/
	.navbar-brand{
		width: 215px;
		margin-right: 0;
    	margin-left: 0;
    	margin-top: 0;
	}

	/*navigation*/
	.navbar-nav {
		margin-bottom: 10px;
		margin-left: 0;
		margin-top: 5px;
	}

	.navbar-default .navbar-nav>li>a{
		font-size: 13px;
		padding:10px;
	}

	#menu-primary .sub-menu{
		top:40px;
		padding-top: 18px;
	}

	#menu-primary .sub-menu li > .sub-menu{
		top:18px;
	}

	section.header-image{
	    background-position: top;
	}

	/*slider*/
	/*#slider-wrapper {
	    height: 635px;
	}

	#slider .item{
		height: 600px;
	}*/

	#slider h1 {
	    font-size: 36px;
	}

	#panel-info h3 {
	    font-size: 18px;
	}
	
	/* section .wpcf7-form input.wpcf7-submit, */
	.wpcf7-recaptcha{
	    margin-left: 152px;
	}

	footer .social {
	    /* padding-left: 100px; */
	}
}
@media (max-width: 991px) {
	.left-table-align{float: none;}
	.right-table-align{float: none;}
	.gallery-video-content{
		margin: 0 auto;
    	width: 280px;
	}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.login-btn{
		margin-top: 0;
	}
	header .navbar-header{
		width: 100%;
	}
	header .navbar-header a.navbar-brand{
		width: 100%;
		margin-bottom: 15px;
		margin-left: auto !important;
		margin-right: auto;
		float: none;
		display: block;
	}
	header .navbar-header a.navbar-brand img{
		margin: 0 auto;
	}
	/*landing page*/
	section.section-landing-page h1 {
	    font-size: 26px;
	    margin-bottom: 25px;
	    padding: 0 30px;
	}

	.panel-menu h2 {
	    font-size: 22px;
	    margin-bottom: 20px;
	}

	.panel-menu .item{
		margin-bottom: 30px;
	}

	#menu-primary .sub-menu{
		padding-top: 0;
	}

	#menu-primary .sub-menu li > .sub-menu{
		top:17px;
	}

	/*front-page*/
	.navbar-brand{
		width: 200px;
		margin-right: 0;
		margin-left: 0!important;
		/* margin-top: -35px; */
	}

	.navbar-default .navbar-nav>li>a {
	    font-size: 12px;
		padding:8px;
		padding-bottom: 12px;
	}

	.navbar-default .navbar-nav>li:first-child>a {
		padding-left:0;
	}

	.navbar-nav{
	    margin-top: 0;
    	padding-bottom: 10px;
    	margin-left: 0;
	}

	.search-ico{
		display: block;
		margin-top: 0px;
	}

	.navbar-form.navbar-right{
		float: none!important;
		margin:0!important;
	}

	#menu-primary .sub-menu{
		top:40px;
		padding-top: 17px;
	}

	.search-mobile .search-wrapper{
		background-color: transparent;
		border:none;
		box-shadow: none;
		margin: 0;
	}

	.search-mobile .search-wrapper button{
		display: none;
	}

	.search-mobile .navbar-form{
		display: none;
	}

	.search-mobile .form-group{
	    width: 100%;
	    padding: 5px 10px 10px 10px;
	    margin: 0;
	}

	.search-mobile .form-group input{
		background-color: white;
		width: 100%;
		border-radius: 0;
		border:none;
	}

	#slider-wrapper {
	    height: 380px;
	}

	#slider .item {
	    height: 380px;
	}

	#slider h1 {
	    font-size: 32px;
	}

	#panel-info > div {
	    padding: 25px 10px;
	}

	#panel-info h3 {
	    font-size: 16px;
	    min-height: 25px;
	}

	section.header-image{
	    background-position: top;
	}

	/*menu grid*/
	.menu-grid-wrapper .item a{
		height: 300px;
	}

	section .wpcf7-form input.wpcf7-submit,
	.wpcf7-recaptcha{
	    margin-left: 156px;
	}

	footer h3 {
	    font-size: 16px;
	}

	footer p{
		font-size: 14px;
	}

	footer .social {
	    padding-left: 30px;
	}

	.page-id-220 .cd-top {
	    right: 20px;
	    bottom: 20px;
	  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.banner-buttons-links + .banner-buttons-links {
		margin-top: 10px;
	}
	
	.top-menu-mobile{display: block;}
	.top-menu-mobile .fa.fa-user{
		padding-right: 10px;
	}
	/* .wpcf7-form-control-wrap{display: inline-block;} */
	/*landing page*/
	#hero-slider #panel-info{
		position: relative;
		background: #102C6A;
	}
	header#landing-page-header {
	    padding-left: 40px;
	    padding-right: 40px;
	}

	#menu-primary .sub-menu{
		display: block;
		position: initial;
		padding-top: 0
	}

	#menu-primary .sub-menu li > .sub-menu{
		/* display: block; */
	}

	#menu-primary .sub-menu li > .sub-menu li a{
		background-color: #1d3f8a;
		padding:15px 15px 15px 25px;
	}

	#menu-primary .sub-menu li.menu-item-has-children > a:after{
		content: "\f0d7";
	}

	section.section-landing-page h1 {
	    font-size: 24px;
	    margin-bottom: 30px;
	    padding: 0 20px;
	}

	.panel-menu h2 {
	    font-size: 22px;
	    margin-bottom: 20px;
	}

	.panel-menu .item{
		margin-bottom: 10px;
	}

	.navbar-toggle {
    	margin-top: 15px;
	}

	.navbar-brand{
		width: 190px;
		margin-right: 0;
		margin-left: 10px;
		margin-top: 0
	}

	.search-wrapper{
		position: relative;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.navbar-nav {
	    margin-top: 10px;
	    margin-left: 0;
	    margin-right: 0;
	}

	.navbar-form{
		border-bottom: none;
		padding-bottom: 0
	}

	.search-wrapper .form-control {
	    margin-bottom: 0px;
	}

	.search-wrapper button{
		position: absolute;
	    display: inline-block;
	    margin-top: 0;
	    top: 0;
	    right: 0;
	}

	.navbar-form .form-group {
	    margin-bottom: 0;
	}

	.user-login {
	    position: absolute;
	    right: 70px;
	    top: 15px;
	    z-index: 999
	}

	#hero-slider{
		padding-right:0;
		padding-left: 0;
	}

	#slider h1 {
	    font-size: 24px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	#slider-wrapper,
	#slider .item {
	    height: 290px;
	}

	#panel-info {
	    padding: 0 20px;
	}

	/*#panel-info > div {
	    padding: 30px;
	}*/

	#panel-info .row > div{
		margin-bottom: 30px;
	}

	section.header-image{
	    background-position: top;
	}

	section.about-img-wrapper{
		padding: 20px 20px 0 20px;
	}

	section.about-img-wrapper img{
		margin-bottom: 20px;
	}

	/*product grid*/
	.menu-grid-wrapper .item{
		border:none;
	}

	.menu-grid-wrapper .item a{
		height: auto;
	}

	.menu-grid-wrapper .item a h4{
		padding:15px 0;
	}

	/*contact form*/
	.wpcf7-form .wpcf7-form-control-wrap input,
	.wpcf7-form .wpcf7-form-control-wrap textarea,
	.wpcf7-form .wpcf7-form-control-wrap input{
	    width: 100%!important;
	}

	.page ul.contact-info{
		margin-bottom: 50px;
	}

	.page ul.contact-info li{
		font-size: 14px;
		margin-bottom: 30px;
	}

	.wpcf7-form label .label-text {
		display: block;
	    text-align: left;
	    padding-top: 0;
	    margin-bottom: 10px;
	}

	section .wpcf7-form input.wpcf7-submit,
	.wpcf7-recaptcha{
		transform: scale(1);
	    -ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    margin-left:0;
	}

	section.content {
		min-height: auto;
	    padding: 30px 0;
	}

	footer .contact-details .row > div{
		margin-bottom: 30px;
	}

	footer .social {
	    border-left: 1px solid rgba(115,124,133,0.2);
	    padding-left: 15px;
	}
	
	/* Table Scroll Fix */
	section.header-image-new h1 { font-size:20px; }
	.overflow-scroll { overflow-x:scroll; }
	.overflow-scroll::-webkit-scrollbar-track{ background-color: #F5F5F5;}
	.overflow-scroll::-webkit-scrollbar	{ width: 15px; height:15px; background-color: #F5F5F5;}
	.overflow-scroll::-webkit-scrollbar-thumb{ background-color: #000000; border: 2px solid #000;}
	

}
@media (max-width: 570px){
	.user-login{
		display: none;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	.section-landing-page .panel-menu .item{
		padding:0 5px !important;
	}
	/* .TGD td, .TGD th, .TGL td, .TGL th, .TMGL td, .TMGL th, .table-standard td, .table-standard th{
		text-align: left;
	}
	table.TGL, table.TGD , table.TMGL,
	table.TGL tbody, table.TGD tbody, table.TMGL tbody, 
	table.TGL th, table.TGD th, table.TMGL th, 
	table.TGL td, table.TGD td, table.TMGL td, 
	table.TGL tr, table.TGD tr, table.TMGL tr{ 
		display: block; 
	}
	
	table.TGL tbody tr:first-child,
	table.TGD tbody tr:first-child,
	table.TMGL tbody tr:first-child { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.TGL tr,
	table.TGD tr,
	table.TMGL tr { border: 1px solid #ccc; }
	
	table.TGL td,
	table.TGD td,
	table.TMGL td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table.TGL td:before,
	table.TGD td:before,
	table.TMGL td:before { 
		left: 2px;
	    padding-right: 10px;
	    position: absolute;
	    text-align: left;
	    top: 2px;
	    white-space: nowrap;
	    width: 45%;
	}

	table.TGL td:nth-of-type(1):before,
	table.TGD td:nth-of-type(1):before,
	table.TMGL td:nth-of-type(1):before { 
		content: "Job Name"; 
		font-weight: bold;
		padding: 3px 10px;
		background: #e8eaff;
	}
	table.TGL td:nth-of-type(2):before,
	table.TGD td:nth-of-type(2):before,
	table.TMGL td:nth-of-type(2):before { 
		content: "Capacity (Lbs)"; 
		font-weight: bold;
		padding: 3px 10px;
		background: #e8eaff;
	}
	table.TGL td:nth-of-type(3):before,
	table.TGD td:nth-of-type(3):before,
	table.TMGL td:nth-of-type(3):before { 
		content: "Speed (fpm)"; 
		font-weight: bold;
		padding: 3px 10px;
		background: #e8eaff;
	}
	table.TGL td:nth-of-type(4):before,
	table.TGD td:nth-of-type(4):before,
	table.TMGL td:nth-of-type(4):before { 
		content: "City"; 
		font-weight: bold;
		padding: 3px 10px;
		background: #e8eaff;
	}
	table.TGL td:nth-of-type(5):before,
	table.TGD td:nth-of-type(5):before,
	table.TMGL td:nth-of-type(5):before { 
		content: "State"; 
		font-weight: bold;
		padding: 3px 10px;
		background: #e8eaff;
	} */

	.user-login li{
		padding:0;
	}
	.navbar-brand {
	    width: 160px;
	    padding:5px 0;
	}
	
	.user-login li:after{
		content:none;
	}
	.user-login{
		right: 70px;
    	top: 10px;
    	padding: 12px 0 0;
	}

	.user-login a{
		font-size: 22px;
	}
	

	section.header-image{
		height: 150px;
	}

	section.header-image h1 {
	    font-size: 22px;
	}
	.welcome-left{
		display: table;
	    float: none;
	    margin: 0 auto;
	    width: 100%;
	}
	.welcome-btn{
		display: block;
	    margin: 0 auto;
	    max-width: 300px;
	}
	.welcome-right{
		display: table;
	    margin: 0 auto;
	    width: 100%;
	}
	.welcome-right .widget_recent_entries{
		margin: 0 auto;
    	max-width: 300px;
	}
}
@media (max-width: 502px){
	/* .page-id-220 section.content .container li{
		display: block !important;
		list-style: none !important;
	}
	.page-id-220 section.content .container ul{
		display: table !important;
	    margin: 20px auto !important;
	    text-align: center !important;
	} */
	.page-id-220 a.cBtn-learnmore{width: 100% !important}
}
@media (max-width: 320px) {
 
	#panel-info > div {
	    padding: 20px 0;
	}

	#panel-info h3 {
	    font-size: 18px;
	}

	#panel-info p {
	    font-size: 12px;
	    margin-bottom: 10px;
	}

	.wpcf7-recaptcha{
		transform: scale(0.96);
	    -ms-transform: scale(0.96);
	    -webkit-transform: scale(0.96);
	    margin-left:-6px;
	}
	.section-landing-page .panel-menu .item{
		width: 100% !important;
	}
}

@media (max-width: 992px) {
	.page__form .field-button {  
		float: none !important;
		margin: auto;
	}
	section .wpcf7-form input.wpcf7-submit{
		margin-left:0 !important;
	}
}
@media (min-width: 992px) {
	.navbar-default .navbar-brand { max-width: 180px; }
}
@media (min-width: 1200px) {
	.navbar-default .navbar-brand { max-width: 240px; }
	.navbar-nav { margin-top: 15px; }
}
