/* Customers User Dashboard */

/* ==Dashboard Menu== */

.welcome-right.torin-calc {
	display: none;
}
.dashboard_menu ul { margin:0; padding:0; position:relative; }
section.content .dashboard_menu ul { margin: 0; }
.dashboard_menu ul li { list-style:none;  }
.dashboard_menu ul a {
	display:block;
	font-size:15px;
	color:#000;
	padding: 15px 30px 18px 15px;
	text-transform:uppercase;
	background-color:#d2d2d2;
	text-decoration:none;
	border-bottom:1px solid #ececec;
	position:relative;
	font-weight:700;

}
.dashboard_menu ul a i {
	position:absolute;
	right:15px;
	font-size: 20px;
	color:#000;
    font-weight: bold;
}
.dashboard_menu ul a.active, .dashboard_menu ul a:hover {
	background-color:#323232;;
	color:#fff;
}
.dashboard_menu ul a.active i,
.dashboard_menu ul a:hover i {
	color:#fff;
}

.dashboard_menu ul li:nth-child(1) a.active, .dashboard_menu ul li:nth-child(2) a.active  {
	background-color:#d2d2d2;;
	color:#000;
} 
.dashboard_menu ul li:nth-child(1) a.active i, .dashboard_menu ul li:nth-child(2) a.active i{
	color:#000;
}




/* Search Section */
.search_wrapper .form-group {
	width:253px;
	float:right;
}
.search_wrapper .form-group input {
	border-radius:0;
	font-size:12px;
	border:1px solid #d3d2d2;
}
.search_wrapper .form-control-feedback {
	color:#a1a0a0;
}

/* Dashboard Content */

.dahsboard_content p {
	color:#6c6b6b;
	font-size:13px;
}
.dashboard_content a { color:#767676; letter-spacing: 0.1px; font-size:11px; }

.torin-calc .underline:hover,
.dashboard_content a:hover {
	color: #000;
}
.torin-calc .request-final:hover {
	color: #ed1c24 !important;
}

.dashboard_content a.csv-data {
	font-size: 11px;
}

.page-template-page-welcome .dahsboard_content hr {
	margin-bottom:12px;
	border-top:2px solid #d3d2d2;
}

.filter-wrapper .filter-item {
	width: 19.6%;
    margin-right: 3px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

/* Filter */
.filter-wrapper {
	background:#dad9d9;
	margin-bottom:10px;
	padding: 15px 20px 0px 20px;
	display: inline-block;
}
.filter-wrapper .filter-container {
	display: inline-block;
}
.filter-wrapper .filter-container .filter-item select {
	font-size:9px;
}

/* Table */
.dashboard_content { color:#000; }
.dashboard_content .table-wrapper table tr th {
	background-color:#333333;
	color:#fff;
	min-height:40px;
	font-weight:normal !important;
	text-transform:uppercase;
	text-align:left;
	vertical-align:middle;
}
.dashboard_content .table-wrapper table td {
	vertical-align: middle;
    height: 45px;
    padding: 7px 7px;
    word-wrap: break-word;
}
.dashboard_content .table-wrapper table th,
.dashboard_content .table-wrapper table td,
.dashboard_content .table-wrapper table tr {
	border:0 !important;
	font-size:11px !important;
	text-align: left;
	letter-spacing: 0.3px;
}

.dashboard_content .table-wrapper table td.csv-data { text-align:center; }
.dashboard_content .table-wrapper table tr { background:#e4e4e4; }
.dashboard_content .table-wrapper table tr:nth-child(4n+1),
.dashboard_content .table-wrapper table tr:nth-child(4n+2) { background: #f6f6f6; }

.dashboard_content .table-wrapper a.btn {
	cursor: text;
	pointer-events: none;
	border-radius: 0;
    min-width: 108px;
    padding: 7px;
    border: 0;
    letter-spacing: 0.3px;
    color: #fff;
    text-decoration: none;
}
.dashboard_content .table-wrapper a.closed.btn {
	background-color:#ed1c24;
}
.dashboard_content .table-wrapper a.initial.btn {
	background-color:#1848e4;
}


/* Link Actions */
.dashboard_content .table-wrapper span.link-action {
	float:right;
}
.dashboard_content .table-wrapper span.link-action a {
	text-transform:uppercase;
	color:#767676;
	margin-right:17px;
}

/* Update */


.dashboard_content .child-td a {
    text-transform: uppercase;
	text-decoration: underline;
}

.torin-calc .request-final {
	color:#ed1c24 !Important;
	letter-spacing: 0.1px;
}


.child1-td:after {
	background:red;
	height:5px;
	width:100%;
}

.child1-td {
	margin-left:20px !Important;
	min-height: 50px !Important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    align-items: center;
}

.child-td, .chid-td {
	margin-left:20px !Important;
	min-height: 50px !Important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    align-items: center !important;
    width: 100px !important;
}

.table-wrapper tbody tr:before {

	border-bottom:1px solid red !important;
	height: 5px;
	width:100%;
	background:red;
}

/* Updates */

.torin-calc .request-final {
	color:#ed1c24 !important;
}

.dashboard_content .table-wrapper table tr.row-details {
	text-transform: uppercase;
	text-decoration: underline;
	border-top: 1px solid #f5f5f5 !important;
}

table.tablesorter thead tr th {
    height: 50px;
    padding: 10px 0px 10px 12px !important;
    vertical-align: middle !important;
}

.filter-container .filter-item .form-control option {
	font-size:10px;
	padding: 20px !important;
}

.torin-calc table > thead > tr > th, .table > thead > tr > th, table.table>thead:first-child>tr:first-child>th {
	width: 0px;
    padding: 0px 6px !important;
    height: 48px;
    vertical-align: middle;
    background: #323232;
    color: #fff;
}

.torin-calc .new-quote {
	/* background-color: #2276b4 !important; */
	background-color: #000 !important;
    text-transform: uppercase !important;
    padding: 9px 20px !important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.5px !important;
}
.torin-calc .new-quote
.torin-calc .new-quote:hover {
	background-color: #102e6c !important;
	color: #fff;
}
.dashboard_content .table-wrapper table tr.row-vm:nth-child(4n+1), .dashboard_content .table-wrapper table tr.row-vm:nth-child(4n+2) {
	border-bottom: 1px solid #dedede !important;
}

.dashboard_content form table.table.tablesorter {
	margin-bottom: 10px !important;
	table-layout: fixed;
}

.torin-calc .filter-wrapper .filter-container .filter-item select {
    padding: 10px 0px 10px 5px;
    border-radius: 3px;
    border: 1px solid #bbbaba;
}

.mcr-form-wrap .form-group label {
	font-size: 15px;
}
#mcr-login-form  {
	max-width: 349px;
	width: 100%;
}
#mcr-login-form .form-control {
	border: 1px solid #102e6c;
	border-radius: 4px;
	height: 47px;
}
#mcr-login-form .survey-form .btn.red, #mcr-login-form .btn.red {
	border-radius: 4px;
	background-image: -moz-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	background-image: -webkit-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	background-image: -ms-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
	display: block;
	text-align: center;
	width: 100%;
}
#mcr-login-form .mcr-text-content {
	text-align: center;
}
#mcr-login-form .mcr-text-content a {
	color: #233e78;
	font-size: 13px;
	text-decoration: underline;
}
#mcr-pm-form .form-control, #mcr-register-form .form-control {
	height: 35px;
    font-size: 15px;
    /*font-style: italic;*/
	border-radius:0;
}

.main-quote-wrap .force-overflow th.black-th{
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

.main-quote-wrap .force-overflow tr td input {
	text-align: center;
	font-size: 11px;
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}

.table-wrapper table .row-details .func-button-wrap {
	text-align: right;
}

.table-wrapper table .row-details .func-list {
	display: inline-flex;
	margin:0px;
}

.table-wrapper table .row-details .func-list li {
	list-style: none;
	margin: 0px 15px 0px 0px;
}

.table-wrapper table .row-details .func-list li:last-child {
	margin-right: 15px;
}

.table-wrapper table .row-details .func-list li a:hover {

	text-decoration:underline;

}

.table-wrapper table .row-details .status-button-wrap {
	text-align: left;
	padding-left: 18px;
}
/*section.content p {
	margin-bottom: 5px !important;
}*/
.content_wrap ul.alink a.view-all-rako {
	font-size: 15px;
    color: #0000cd;
    padding: -0px;
}

.view-all-rako:hover {
	text-decoration: none;
	color: #0000cd;

}


.torin-calc .filter-wrapper .filter-container .filter-item select {
    letter-spacing: 0.1px;
}

.content_wrap ul li {
	margin-bottom: 4px;
	margin-left: 30px;
	list-style-type: square
}

.content_wrap.torin-calc ul li {
	margin-left: 0px;
}

.content_wrap a, .content_wrap ul.faqs li a {
    color: #0000cd;
    font-weight: normal;
}


.content_wrap.welcome-right ul,
#video_wrap ul.alist {
	list-style: none !important;
}

#video_wrap ul.alist {
	padding: 5px 8px;
}

.content_wrap hr {
	border-top: 1px solid #bebebe;
}

.content_wrap a:hover,
.content_wrap ul.faqs li a:hover {
	color: #0000cd;
	text-decoration:none;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #000;
	border: 2px solid #000;
}

.table-wrapper::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

.table-wrapper::-webkit-scrollbar {
    width: 15px;
    height: 15px;
	background-color: #F5F5F5;
}

/* Additional */

.restricted-error a.btn_login {
	background-color: #000;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 44px;
}

#mcr-pm-form #mcr-field-register_pm_btn, #mcr-register-form #mcr-field-register_btn {
    min-width: 108px;
    padding: 9px 20px;
    border: 0;
    background-color: #000;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
}

.filter-wrapper .search-filter {
	width: 36%;
}

/* Survey Form */
.survey-form { padding:0px 0 30px; }


@media only screen and (max-width: 1199px) {
	.filter-wrapper .filter-item {
    	width: 32.5%;
    }
    .torin-calc .dashboard_content .cust-scrollbar {
	    overflow-x: auto;
	}
	.dashboard_content form table.table.tablesorter {
		width: 900px;
     	max-width: 900px;
	}
	.filter-wrapper .search-filter {
	    width: 28.5%;
	}


}


@media only screen and (max-width: 768px) {

	.filter-wrapper .filter-container {
		display: inherit;
	}
	.torin-calc .filter-wrapper .filter-container .filter-item select {
		width: 100%;
	}

}


@media only screen and (max-width: 666px) {
    .filter-wrapper .filter-item {
	    width: 32.5%;
	}

	.filter-wrapper .search-filter {
	    width: 26.5% !important;
	}
}

@media only screen and (max-width: 429px) {
    .filter-wrapper .filter-item {
	    width: 49%
	}
	.filter-wrapper .search-filter {
	    width: 89% !important;
	}
}

@media only screen and (max-width:368px) {
    .filter-wrapper .filter-item {
	    width: 100%
	}
}

/* Skinning */

.section__tab table,
.section__tab .tab-content table {
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.page-template .sidebar_wrap h3 {
	margin: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

@media (min-width: 992px) {
	.page-template .sidebar_wrap h3 {
		margin-bottom: 20px !important; 
		box-shadow: 0px 0px 20px #a7a7a7  !important;
		-webkit-box-shadow: 0px 0px 20px #a7a7a7  !important;
	}
}

@media (max-width: 992px) {
	.button__group {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.torin-calc .new-quote {
		flex-grow: 1;
		flex-basis: 33.33333%;
		width: 205px;
		margin: 0 5px;
	}
}

@media (max-width: 479px) {
	.torin-calc .new-quote {
		display: block;
		flex-basis: 100%;
		width: auto;
	}
}

/* Toggle */

@media (max-width: 991px) {
	.toggle_wrap {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 0px 20px #a7a7a7;
		-webkit-box-shadow: 0px 0px 20px #a7a7a7;
	}
	
	.sidebar_wrap .toggle_wrap h3 {
		margin: 0;
		flex-grow: 1;
		padding: 6px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

.hamburger-toggle {
	background: #d2d2d2;
	border: 0;
	border-radius: 0;
	text-align: center;
    padding: 15px;
	max-width: 65px;
	width: 100%;
	-webkit-appearance: none;
}

.hamburger-toggle:focus {
	outline: 0;
	border-color: transparent;
}

.hamburger-toggle .icon-bar {
	background-color: #102e6c;
	display: block;
    width: 35px;
	height: 2px;
	margin: 0 auto;
}

.hamburger-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

@media (max-width: 992px) {
	.sidebar_wrap .dashboard_menu { display: none; }
}

/* Section Tabs */

.section__tab .tab-content {
	margin-bottom: 30px;
}

.section__tab .tab-content .tab-pane { position: relative; }

.section__tab .nav-tabs {
	margin: 0;
	padding: 0;
	border: 0;
}

.section__tab .nav-tabs > li {
	float: none;
	margin: 0;
}

.section__tab .nav-tabs > li > a {
	background-image: -moz-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(219,217,217) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(219,217,217) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(219,217,217) 100%);
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	padding: 10px;
	text-align: center;
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
	text-transform: uppercase;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section__tab .nav-tabs > li.active > a,
.section__tab .nav-tabs > li > a:hover {
	background: #323232 !important;
	color: #fff;
}

.section__tab .tab-content {
	border: 1px solid #e3e3e3;
	padding: 15px;
}

.section__tab .tab-content .tab-pane h2 ,
.section__tab .tab-content .tab-pane h3, 
.section__tab .tab-content .tab-pane h4 ,
.section__tab .tab-content .tab-pane h5, 
.section__tab .tab-content .tab-pane h6 {
	text-transform: uppercase;
}

.section__tab .tab-content .tab-pane table tr:first-child td {
	background: #323232;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

 .section__tab .tab-content .tab-pane table > tbody > tr:nth-child(odd) {
	background: #f6f6f6;
}
.page-id-1141 .section__tab .tab-content .tab-pane table > tbody > tr:nth-child(odd) {
	background: #fff;
}
/*
.page-id-1141 .section__tab .tab-content .tab-pane table > tbody > tr:nth-child(odd) {
	background: #e1e1e1;
} */
.page-id-1141 .section__tab .tab-content .tab-pane table > tbody > tr > td {
	text-align: center;
	padding: 6px 10px;
    border: 1px solid #d2d2d2;
}

.page-id-220 .section__tab .tab-content {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.page-id-220 .section__tab .nav-tabs > li:last-child a {
	margin-right: 0!important;
}

@media(max-width: 992px) {
	.page-id-220 .section__tab .nav-tabs > li.active > a,
	.page-id-220 .section__tab .nav-tabs > li > a:hover {
		background-image: -moz-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%) !important;
		background-image: -webkit-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%) !important;
		background-image: -ms-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%) !important; 
	}

	.page-id-220 .section__tab .tab-content .tab-pane table tr:first-child td {
		background-image: -moz-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
		background-image: -webkit-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
		background-image: -ms-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
	}
}

@media(min-width: 992px) {
	.section__tab .tab-content { margin-bottom:0; }
    .section__tab .nav-tabs {
        display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		/* flex-wrap: wrap; */
		/* display: table; */
		width: 100%;
	}
	
	.page-id-220 .section__tab .nav-tabs {
		margin: 0 auto;
	}

	.page-id-220 .section__tab .nav-tabs > li {
		width: 269px;
	}

	.page-id-220 .section__tab .nav-tabs > li a{
		background: #f6f6f6;
	}

	.page-id-220 .section__tab .tab-content h3 {
		text-align: center;
	}

    .section__tab .nav-tabs > li {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		display: table-cell;
		flex: 1;
	}

	.section__tab .nav-tabs.single > li > a {
		padding: 10px 10px;;
	}

	.page-id-220 .section__tab .nav-tabs.single > li > a{
		padding: 16px 10px;
	}
	
	.section__tab .nav-tabs.multiple > li {
		flex-grow: 1;
		flex-basis: 20%;
		/* display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; */
	}

	.section__tab .tab-content .tab-pane table > tbody > tr > td {
		padding: 10px;
		border: 0;
		border-left: 1px solid #fff;
	}
	
	.page-id-220 .section__tab .nav-tabs {
		margin: 0 auto;
	}

	.page-id-220 .section__tab .nav-tabs > li {
		width: 269px;
	}

	.page-id-220 .section__tab .tab-content h3 {
		text-align: center;
	}

	.page-id-220 .section__tab .nav-tabs > li.active > a,
	.page-id-220 .section__tab .nav-tabs > li > a:hover {
		background: #323232;
		color: #fff;
	}

	.page-id-220 .section__tab .nav-tabs > li > a{
		background: #f6f6f6;
		margin-right: 15px;
	}
	.page-id-220 .section__tab { 
		margin-top: 25px; 
		max-width: 780px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.page-id-220 .section__tab .tab-content .tab-pane table tr:first-child td { padding: 8px 10px; }
	
	.page-id-220 .section__tab .tab-content {
		margin-top: -1px;
	}

	.page-id-220 .section__tab .tab-content .tab-pane table tr td:not(:first-child) {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.page-id-220 .section__tab .nav-tabs > li {
		min-height: 50px;
	}
}

/* Contact Us Section */

section.content .contact__info {
    background: #2377b5;
    padding: 10px 15px;
}

section.content .contact__info > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.content .contact__info > ul > li  {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

section.content .contact__info > ul > li .fa { 
    margin-right: 15px;
}

section.content .contact__info > ul > li > a {
    color: #fff;
    text-decoration: underline;
}

.section__contact {
    display: flex;
    flex-wrap: wrap;
}
.section__contact .section__contact-col:first-child {
    order: 2;
}
.section__contact-col:last-child {
    order: 1;
}

/* List contact */

section.content .list__contact > ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

section.content .list__contact > ul > li  {
	list-style: none;
    color: #102e6c;
	font-size: 14px;
	margin: 0;
    margin-bottom: 10px;
}

section.content .list__contact > ul > li .fa { 
	/* color: #076bb8; */
	color: #000;
	font-size: 16px;
    margin-right: 15px;
}

section.content .list__contact > ul > li > a {
    color: #102e6c;
    text-decoration: underline;
}

.page__form { margin-top: 20px; }

.page__form:before,
.page__form:after {
    content: "";
    display: table;
}

.page__form:after {
    clear: both;
}

.page__form .field {
    margin-bottom: 15px;
}

.page__form .field input,
.page__form .field textarea {
    border: 1px solid #102e6c;
    border-radius: 4px;
    height: 50px;
}

.page__form .field textarea { 
    height: 128px;
    resize: none; 
}

.page__form .field-button { 
	max-width: 159px; 
}

.page__form .field-button input[type="submit"] {
    border-radius: 4px;
	background-image: -moz-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	background-image: -webkit-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	background-image: -ms-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
	width: 100%;
}

@media (min-width: 480px) {
	.page__form .field.field-half {
        float: left;
        padding: 0 5px;
        width: 50%;
    }
    .page__form .field.field-full { 
        float: left;
        padding: 0 5px;
        width: 100%; 
    }
}

@media (min-width: 768px) {
    section.content .contact__info { padding: 25px; }
}

@media (min-width: 992px) {
    .section__contact { display: block; }
    .page__form { margin-top: 0; }
}

@media (min-width: 1200px) {
    section.content .contact__info { padding: 35px 25px; }
    .page__form { 
        margin: 0 -15px;
        margin-right: 30px; 
    }
   
}



/**********/
.video_wrap .gallery-video-content .huge_it_videogallery_container > div{
	display: flex;
    align-items: center;
    justify-content: center;
}