/*
==========================================================================
Webfonts
==========================================================================
*/

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic);*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*
==========================================================================
General Styles
==========================================================================
*/
*{
    -webkit-overflow-scrolling: touch;
}
body, html{
    position: relative;
    background-image: url('../images/body-bg.jpg');
    background-color: black;
    width:100%;
    height:100%;
    /*font-family: 'Open Sans', arial, sans-serif;*/
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color:black;
    margin: 0;
    padding: 0;
    z-index: 9;
}

body{
    overflow-y: scroll;
}
/*
body.home{
    overflow-y: hidden;
}*/

h1,
h2,
h3,
h4,
h5,
p{
    margin-top: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #0186cf;
}

img.wide{
    width: 100%
}

ul.unstyled li{
    list-style: none;
    margin-left: 20px;
}

.btn-pdf {
    color: #fff;
    background-image: -moz-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -ms-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
   


    
    border-radius: 4px;
    font-weight: bold;
    display: block;
    padding: 8px 10px;
    max-width: 270px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.btn-pdf:hover {
    color: #102e6c;
    background-image: -moz-linear-gradient( -86deg, rgb(222,222,222) 0%, rgb(242,237,237) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgb(222,222,222) 0%, rgb(242,237,237) 100%);
    background-image: -ms-linear-gradient( -86deg, rgb(222,222,222) 0%, rgb(242,237,237) 100%);
    box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.2);



    text-decoration: none;
}

/*
==========================================================================
    Structure & Generic Styles
==========================================================================
*/

/*------------------------------------*\
    HEADER
\*------------------------------------*/
/* .home header,
.home footer{
    display: none;
} */

header,
#landing-page-header{
    position: relative;
    background-color: white;
    /*background-image: url('../images/hdr-bg.jpg');*/
    width: 100%;
    height: auto;
    color: white;
    z-index: 1;
}

header:after{
    content:'';
    display: block;
    background-color: #102e6c;
    width: 100%;
    height: 7px;
    /* border-bottom:3px solid #0186cf;
    border-bottom:3px solid #7b7b7b; */
}

#landing-page-header{
    padding:15px 0;
    text-align: center;
}

#landing-page-header:after{
    display: none;
}

#landing-page-header img{
    display: inline-block;
    width: 320px;
}

/*location select*/
/*body.locselHide{
    overflow-y: scroll;
}*/

/*body.locselHide #location-select{
    display: none;
}*/

#location-select{
   /* position:fixed;*/
    display: block;
    /*background-image: url('../images/body-bg.jpg');*/
    width:100%;
    height:100%;
    /*top:0;
    left:0;
    z-index:999;*/
    overflow-y: auto;
}

/*bootstrap menu overrides*/
.navbar{
    margin-bottom: 0;
    padding: 20px 10px;
}
@media(min-width: 992px) {
    .navbar { padding: 27px 0 10px; }
}

.navbar-default {
    background-color: transparent;
    border:none;
}

.navbar-default .navbar-brand {
    max-width: 210px;
    width: 100%;
    margin: 0;
}

.navbar-brand {
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top:5px;
    margin-left: 0 !important;
}

.navbar-default .navbar-nav>li>a{
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 13px;
    font-weight: 600;
    color: #102d6b;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li.current-menu-ancestor.menu-item-has-children>a,
.navbar-default .navbar-nav>li.current-menu-item>a{
    color: #0186cf;
}

/*.nav>li>a{
    padding: 15px 10px;
}*/

#menu-primary .sub-menu{
    display: none;
    position: absolute;
    top: 45px;
    padding-top: 20px;
    z-index: 99;
    min-width: 190px;
}

#menu-primary .sub-menu li{
    border-bottom: 1px solid #232323;
    position: relative; 
}

#menu-primary .sub-menu li:last-child{
    border-bottom: none;
}

#menu-primary .sub-menu li a{
    position: relative;
    background-color: #102c69;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding:15px;
}

#menu-primary .sub-menu li.menu-item-has-children > a:after{
    content: "\f0da";
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 19px;
    color: white;
    top:50%;
    right:10px;
    width:10px;
    height: 10px;
    margin-top: -9px;
    z-index: 999;
}

#menu-primary .sub-menu li.current-menu-item a,
#menu-primary .sub-menu li:hover a{
    background-color: #1d3f8a;
}

#menu-primary li.menu-item-has-children:hover > ul{
    display: block;
}

#menu-primary .sub-menu li > .sub-menu{
    display: none;
    left: 100%;
    width: 100%;
    padding-top: 0;
    /* top: 20px; */
    top: 0;
}

#menu-primary .sub-menu li > .sub-menu li a{
    color: white;
}

/*#menu-primary .sub-menu li > .sub-menu li:hover a{
    color: white;
}*/

.navbar-nav{
    margin-top: 10px;
    margin-left: 50px;
}

@media (min-width: 1200px) {
    .navbar-nav{
        margin-top: 0;
    }
}

.user-login{
   /* float: right;*/
   text-align: right;
   padding: 12px 15px 0 0;
}

.user-login a{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    text-decoration: none;
}

.user-login a i{
    margin-right: 8px;
}

/*header search*/
.search-wrapper{
    background-color: white;
    padding: 0;
    margin-top: 8px;
    border-radius: 26px;
    border: 2px solid white;
    -webkit-box-shadow: inset 3px 3px 4px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: inset 3px 3px 4px 0px rgba(0,0,0,0.10);
    box-shadow: inset 3px 3px 4px 0px rgba(0,0,0,0.10);
}

.search-wrapper input{
    background-color: transparent;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.search-wrapper button{
    background-color:#0186cf;
    color:white;
    border-radius:50%;
    padding: 6px 10px;
    border-color: transparent;
}

.search-wrapper button:hover{
    background-color: #333;
    color: white;
}

.search-wrapper button:focus{
    outline: none!important;
}

.search-ico{
    /* background-color: #0186cf; */
    color: #0186cf;
    display: block;
    width: 35px;
    height: 35px;
    padding:9px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .search-ico {
        margin-top: 20px;
    }
}

.login-btn{
    border: 0;
    background: linear-gradient(355deg, rgba(9,42,96,1) 0%, rgba(7,107,184,1) 100%);
    color: #fff;
    width: 106px;
    height: 31px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    float: right;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.login-btn:hover{
    text-decoration: none;
    color: #0186cf;
    background: linear-gradient(174deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
}

.search-mobile .search-wrapper button{
    display: none;
}

.search-mobile .navbar-form{
    display: none;
}

.search-mobile .search-wrapper{
    background-color: transparent;
    border:none;
    box-shadow: none;
    margin:0;
}

.search-mobile .form-group{
    width: 100%;
    padding: 5px 10px 10px 10px;
    margin: 0;
}

.search-mobile .form-group input{
    background-color: white;
    width: 100%;
    border-radius: 0;
    border:none;
}

.search-page-header{
    padding:15px 0;
    margin-bottom: 15px;
    border-bottom:1px solid #dedede;
}

.search-page-header p{
    font-size: 18px!important;
    font-weight: bold;
    margin-bottom: 0!important;
}

.search-results ul.search-list{
    list-style-type: none;
    margin:0;
}

.search-results .search-list h3{
    font-size:16px;
    font-weight: bold;
}

.search-results .search-list li{
    border-bottom: 1px dashed #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.search-results .search-list li:last-child{
    border-bottom: none;
}

.search-results .search-list li p{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0!important;
}

.search-results .search-list li img{
    margin-bottom: 20px;
}

.search-results .search-list li .h-readmore{
    margin:15px 0 0 0;
}

.search-results .search-list li .h-readmore a{
    color: red;
}

.search-list .navbar-form.navbar-right{
    float:left!important;
    padding:0;
    margin:0;
}

.search-list .search-list{
    background-color: #ececec;
}

.cBtn-search{
    background-color: #333;
    position: absolute;
    top:8px;
    right: 13px;
    padding:6px 12px;
    border:none;
    font-size: 14px;
    font-weight: bold;
}

.cBtn-search:focus{
    outline: none;
}

.search-mobile{
    background-color: #0186cf;
}

.cBreadcrumb{
    background-color: #eee;
    padding:15px 0;
}

.cBreadcrumb #breadcrumbs{
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
}

.cBreadcrumb #breadcrumbs a{
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

/*text wrapper vertical center*/
.wOuter{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.wInner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    /*padding-top: 50px;*/
    padding:35px 0;
}

/*.intro-background{
    position: absolute;
    background-size: cover;
    background-position: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: -1;
}*/

/*.intro-background:before{
    position: inherit;
    display: block;
    content: '';
    background-color: rgba(0,0,0,0.90);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
}*/

/*about us image wrapper*/
section.about-img-wrapper{
    margin-bottom: 30px;
}

section.section-landing-page{
    padding-top:70px;
    text-align: center;
}

section.section-landing-page h1{
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
    padding: 0 190px;
    text-transform: uppercase;
}

/*content*/
section.header-image{
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 200px;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

/*section.header-image:before{
    position: inherit;
    display: block;
    content: '';
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
}*/
section.header-image-new{
    background: rgb(7,107,184);
    background: linear-gradient(174deg, rgba(7,107,184,1) 0%, rgba(9,42,96,0.75) 100%);
}
section.header-image-new:before{
    position: inherit;
    display: block;
    content: '';
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
}
section.header-image .wOuter{
    position: absolute;
    z-index: 99;
    top:0;
    left:0;
}

section.header-image h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 4px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

section.header-image-new h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
}



section.content{
    background-color: white;
    width: 100%;
    min-height: 600px;
    min-height: calc(100% - 420px);
    /* padding:30px 0 0px 0 !important; */
    padding:30px 0;
    position: relative;
}

section.content h2{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
}

section.content h3{
    line-height: 1.5;
    font-weight: bold;
    font-size: 22px;
}
section.content h4{
    font-size: 24px;
    font-weight: bold;
}

section.content p{
    font-size: 15px;
    line-height: 1.5;
    color: black;
    margin-bottom: 20px;
    word-wrap: break-word;
}

section.content ul{
    list-style: initial;
    list-style-position: inside;
    margin-bottom: 20px;
}
section.content ul.alist,
section.content ul.faqs,
section.content ul.alink{
    list-style: disc;
    list-style-position: inside;
}
section.content ul.alist,
section.content ul.faqs,
section.content ul.alink{
    font-size: 22px;
    font-weight: bold;
}

.contact-info li{
    margin-bottom: 15px;
}


/* Landing Page */

.section__map {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.section__map:before {
    content: '';
    background: rgba(16, 46, 108, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.section__map-inner {
    padding: 40px 0;
    height: 100%;
}

.section__map-inner .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.section__map-header {
    margin-bottom: 25px; 
    text-align: center; 
}

.section__map-header h1 {
    font-weight: 700;
    line-height: 1.2;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1200px) {
    .section__map-inner { padding: 80px 0; }
}
@media(min-width: 1500px) {
    .section__map { height: 77vh; }
}
@media(min-width: 1700px) {
    .section__map { height: 80vh; }
}

.map__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.map__list > div {
    flex-grow: 1;
    padding: 0 15px;
}

.map__list-item {
    min-height: 334px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}

.map__list-body {
    background-color: #fff;
    border:  6px solid transparent;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
}

.map__list-body.no-link { pointer-events: none; }

.map__list-body:hover,
.map__list-body:focus {
    border-color: #0186cf;
    text-decoration: none;
}

.map__list-image { 
    margin-bottom: 15px;
    text-align: center 
}

.map__list-title {
    color: #102e6c;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) {
    .map__list-item {
        height: 257px;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .map__list-item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (min-width: 1500px) {
    .map__list > div { padding: 0 10px; }
    .map__list-item {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Landing Page Footer */

.footer__main {
    background-color: #fff;
    padding: 15px 0;
    color: #102e6c;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer__main img {
    max-width: 100%;
    height: auto;
}

.footer__copyright,
.footer__logos { text-align: center; }

.footer__copyright { margin-bottom: 15px; }

.footer__copyright p {
    color: #102e6c;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer__logos ul,
.footer__logos > div { margin-bottom: 15px; }

.footer__logos ul li {
    display: inline-block;
    margin: 0 7px; 
}

.footer__logos ul li a {
    display: block;
    max-width: 90px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

@media (min-width: 992px) {
    .footer__logos > div,
    .footer__logos ul {
        display: inline-block;
        vertical-align: middle;
    }
    .footer__copyright { 
        margin-bottom: 0;
        text-align: left; 
    }
    .footer__main-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__logos { text-align: right; }
    .footer__logos ul,
    .footer__logos > div { margin-bottom: 0; }
    .footer__logos ul li:last-child {
        border-left: 1px solid #000;
        margin-left: 0;
        padding-left: 8px;
    }
    .footer__logos ul li a { margin-bottom: 0; }
}

/*panel menu*/
.panel-menu{
    margin-bottom: 20px;
}

.panel-menu h2{
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 26px;
    font-weight: 600;
    color: #ff0000;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.panel-menu .item .menu-wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 339px;
    color: white;
    text-transform: uppercase;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
}

.panel-menu .item .menu-wrapper:hover{
    border-color: #0186cf;
}

.panel-menu .item .menu-wrapper h3{
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: black;
    left: 20px;
    bottom: 20px;
    margin-bottom: 0;
    z-index: 2;
}

.panel-menu .item .menu-wrapper .img-holder{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 339px;
    top:0;
    left: 0;
    z-index: 1;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    /*opacity: 1;*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
    /*filter: gray;*/
    /*filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");*/
}

.panel-menu .item .menu-wrapper:hover .img-holder{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    /*opacity: 1;*/
}

/*section - slider*/
.owl-theme .owl-controls{
    display: none;
}

#slider-wrapper{
    position: relative;
    height:700px;
    z-index: 0;
}

#hero-slider{
    background-color: white;
    position: relative;
    overflow: hidden;
}

#hero-slider:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+54,0.75+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}

#slider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#slider h2{
    background: rgb(9,42,96);
    background: linear-gradient(180deg, rgba(9,42,96,1) 0%, rgba(7,107,184,0.7511379551820728) 50%, rgba(9,42,96,1) 100%);
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.50);
    padding: 30px;
}

#slider h2,
#slider h2 p{
    margin-bottom: 0;
}

#slider h2 span {
    display: block;
    font-size: 22px;
}

#slider h2 span.slider-lowercase{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    text-transform: capitalize;
}

#slider .item .outer{
    position: absolute;
    display: table;
    height: 100%;
    z-index: 1;
}

#slider .item .inner{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

@media (min-width: 768px){
    #slider .item .inner {
        width: 500px;
    }
}

#slider .item{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    /*height: 490px;*/
    height: 700px;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#slider .item:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+54,0.75+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}

/*panel info*/
#panel-info{
    position: absolute;
    width: 100%;
    /*background-color: white;*/
    color: #434547;
    text-align: center;
    /*padding:0 30px;
    margin-bottom: 30px;*/
    left:0;
    bottom: 0;
    z-index: 1;

}
#panel-info .container{
    max-width: 975px;
}
#panel-info > div{
    /*background-color: white;*/
    padding:25px 0;
}

#panel-info h3{
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 14px;
    font-weight: 600;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#panel-info p{
    /*font-family: 'Open Sans', sans-serif;*/
    min-height: 75px;
    font-size: 14px;
    line-height: 1.5;
}

.cBtn-learnmore{
    display: inline-block;
    background-color: #0186cf;
    background-image: -moz-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -ms-linear-gradient( -86deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    /*margin-top: 20px;*/
    margin-bottom: 5px;
    border-radius: 4px;
}

.cBtn-learnmore:hover,
.cBtn-learnmore:focus{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

/*search page*/
.search-results .content h4{
    color: black;
    margin-bottom: 15px
}

.search-results .content p{
    margin-bottom: 20px;
}

.search-results .content li{
    margin-bottom: 15px;
}

.search-results .content li a{
    color: black;
}

/*section contact*/
.page ul.contact-info{
    list-style-type: none;
    margin: 0;
    list-style-position: outside;
}

.page ul.contact-info li i{
    margin-right: 12px;
}

.contact-info li{
    font-size: 16px!important;
}

/*contact form*/
.wpcf7-form label{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.wpcf7-form label .label-text{
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    padding-top: 5px;
}

.wpcf7-form label sup,
.wpcf7-form label span.marker{
    color: red;
}

/*.wpcf7-form-control-wrap{display: inline-block;}*/
.page-id-93 .wpcf7-form .wpcf7-form-control-wrap input,
.page-id-93 .wpcf7-form .wpcf7-form-control-wrap textarea{
    width:100%;

}

/*customer login page / other country page*/
.wpcf7-form .wpcf7-form-control-wrap input,
.wpcf7-form .wpcf7-form-control-wrap textarea,
.wpcf7-form .wpcf7-form-control-wrap input,
#swpm-registration-form table input,
#swpm-login-form input.swpm-text-field,
#swpm-pw-reset-form input.swpm-text-field ,
#swpm-editprofile-form input{
    width: initial;
   /* margin-top: 10px;*/
    border: 2px solid #cecaca;
    padding: 5px 10px;
    border-radius: 0;
}

.wpcf7-form .wpcf7-form-control-wrap textarea.form-control,
.wpcf7-form .wpcf7-form-control-wrap input.form-control {
    width: 100%;
    margin: 10px 0 8px;
    border: 1px solid #000;
    color: #000;
}

section .content_wrap .wpcf7-form .wpcf7-response-output {
    margin: 1em 0;
}

section .wpcf7-form input.wpcf7-submit.btn {
    margin: 14px 0 0;
}

section .wpcf7-form input.wpcf7-submit,
.wpcf7-recaptcha{
    /* margin-left: 201px;
    margin-bottom: 26px;
    margin-top: -10px; */
}

div.wpcf7-response-output{
    margin: 0em;
}

section .wpcf7-form p{
    margin-bottom: 15px;
}

section .wpcf7-form input.wpcf7-submit,
#swpm-registration-form input.swpm-registration-submit,
#swpm-login-form input.swpm-login-form-submit,
#swpm-pw-reset-form input.swpm-pw-reset-submit,
#swpm-editprofile-form input.swpm-editprofile-submit,
#swpm-editprofile-form input.swpm-edit-profile-submit,
a.swpm-login-form-register-link,
.restricted-error a,
.register-succeess a
{
    background-color: #0186cf;
    border:none;
    border-radius: 0;
    color: white;
    padding:8px 30px;
    /*margin-top: 20px;*/
}
.restricted-error a:hover, .register-succeess a:hover{
    text-decoration: none;
}
.restricted-error a {
    color: #fff !important;
}
.restricted-error a:hover {
    color:#fff;
}
.swpm-login-form-submit:hover{
    opacity: 0.6;
}
section .wpcf7-form .wpcf7-response-output{
    background-color: #333;
    color:white;
    border:none;
    padding:10px;
}

/*registration forms*/
span.swpm-remember-checkbox input{
    display: inline-block!important;
}

/*.swpm-login-submit {
    margin-bottom: 20px!important;
}*/
.swpm-remember-checkbox{
    float: left;
    margin-right: 5px;
}
.swpm-remember-me{
    margin-bottom: 10px;
    clear: both;
    display: inline-block;
    overflow: hidden;
}
.swpm-before-login-submit-section{clear: both;}
.swpm-rember-label{
    position: relative;
    top: 2px;
    /*margin-left: 5px;
    margin-top: 12px;*/
    /*display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;*/
}

.swpm-forgot-pass-link,
.swpm-join-us-link{
    display: block;
}

.swpm-forgot-pass-link{
    margin-bottom: 10px;
    margin-top: 20px;
}

.swpm-forgot-pass-link a{
    color:black;
    text-decoration: none;
}

.swpm-join-us-link a:hover{
    text-decoration: none;
}

.swpm-forgot-pass-link a:hover,
.swpm-join-us-link a:hover{
    opacity:0.6;
}

.swpm-profile-membership-level-row{
    display: none;
}

/*page - menu grid*/
.menu-grid-wrapper .item{
    background-color: #eee;
   /* margin-bottom: 30px;*/
   border-left:1px solid white;
   border-right:1px solid white;
   margin-bottom: 2px;
}
ul.job-ref-menu{
    margin: 20px;
    text-align: center;
}
ul.job-ref-menu li{
    display: inline;
}
.page-id-220 .menu-grid-wrapper .item{
    padding-bottom: 15px;
}
.elevator-component{
    margin-bottom: 40px;
}
.elevator-component .menu-grid-wrapper .item a{
    pointer-events: auto;
}
.elevator-component .menu-grid-wrapper .item:hover{
    opacity: .8;
}

/* Elevator Component Section */

.component__list:before,
.component__list:after {
  content: "";
  display: table;
} 

.component__list:after {
  clear: both;
}

.component__item-list {
    margin-bottom: 30px;
    padding: 0 15px;
}

.component__item {
    border-radius: 5px;
}

.component__list--column .component__item {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.component__list--column .component__item-image {
    padding: 0;
    min-height: 134px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: none;
}

.component__list--column .component__item-image img {
    opacity: 0;
}

@media (min-width: 480px) {
    .component__list .component__item-list {
        float: left;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .component__list .component__item-list { width: 33.333333%; }
    .component__list--column .component__item-image {
        min-height: 134px;
    }
}

@media (min-width: 1200px) {
    .component__list--column .component__item-list { width: 20%; }
}

@media (min-width: 1400px) {
    .component__list--elevator .component__item-list { width: 16.666667%; }
}

.component__item {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}

.component__item.no-image { background: #f0f0f0; }

.component__item > a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component__item > a:hover {
    text-decoration: none;
}

.component__item-image {
    background: #fff;
    min-height: 140px;
    max-width: 240px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component__item-image.no-image { background: #f0f0f0; }

.component__item-image img {
    max-width: 100%;
    height: auto;
}

.component__item-header {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 4px;
    width: 100%;
    text-align: center;
    background: #dad8d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component__list--column .component__item-header {
    background-image: -moz-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    background-image: -ms-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
}

.component__item-title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 0;
}

.component__list--column .component__item-title {
    color: #fff;
}

@media (min-width: 992px) {
    .component__list--column .component__item-header {
        background: #dad8d9;
    }
    .component__list--column .component__item-title {color: #333; }
    .component__list--column{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.menu-grid-wrapper .item a{
    position: relative;
    display: block;
    width: 100%;
    height: 220px;
    /*min-height: 290px;*/
    /*padding-top: 15px;*/
    color: white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    pointer-events: none;
}
.menu-grid-wrapper .item a h4{
    text-decoration: underline;
}
.page-id-220 .menu-grid-wrapper .item a{
    height: auto;
}

/*.menu-grid-wrapper .item a:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 9;
}*/

.menu-grid-wrapper .item a h4{
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    color: #333;
    padding:0 15px;
    left: 0;
    /*bottom: 10px;*/
    z-index: 99;
}

.page-id-220 .menu-grid-wrapper .item a h4{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    padding: 10px;
    color: white;
    bottom: -10px;
}

.menu-grid-wrapper .item a img{
    position: relative;
    width: 75%;
    /*margin-top: -100px;*/

    /*-webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/

   /* transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; */

    z-index: 99;
}

.page-id-220 .menu-grid-wrapper .item a img{
    width: 100%;
    min-height:132px;
}

.menu-grid-wrapper .item:hover a img{
    /*-webkit-filter: grayscale(0);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(0);*/

     /*transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);*/
}

/*video section styles*/
#huge_it_videogallery_content_2 #huge_it_videogallery_container_2 div.video-element_2{
    background-color: white!important;
    border-color:transparent!important;
    text-align: center;
}

#huge_it_videogallery_content_2 #huge_it_videogallery_container_2 .video-element_2 div.title-block_2 h3{
    font-size: 14px!important;
    font-weight:700!important;
}

.huge_it_videogallery_container > div:first-child { height: auto !important; }

.huge_it_videogallery_container.super-list > div:first-child { height: auto !important; }

.huge_it_videogallery_container.super-list .video-element {
    background: #dad9d9 !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.huge_it_videogallery_container.super-list .video-element h3 {
    font-weight: bold;
}

#video_wrap .the_content h2 {
    font-size: 24px;
    margin-bottom: 0px;
}

#video_wrap.content_wrap #video_cats .video_cat h3 {
    font-size: 18px;
}

footer{
    border-top: 4px solid #0186cf;
    background: rgb(16,45,107);
    background: linear-gradient(180deg, rgba(16,45,107,1) 0%, rgba(13,36,80,1) 100%);
    width: 100%;
    line-height: 1.8;
    color: white;
    padding: 20px 0 15px 0;
}

footer .grid-container{
    display: flex;
    flex-wrap: wrap;
}
footer .grid-container > div {
    flex-grow: 1;
}
footer .custom-col-grid{
    padding: 0 15px;
    margin-bottom: 15px;
}
footer .custom-col-grid .textwidget table > tbody > tr:first-child td, 
footer .custom-col-grid .textwidget table > thead ~ tbody > tr:first-child td {
    padding: 0;
}
footer .grid-container .footer__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    padding-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
}
/* footer .grid-container .footer__item:nth-child(2) .textwidget,
footer .grid-container .footer__item:nth-child(3) .textwidget{
    text-align: left;
} */
footer .grid-container .footer__item:last-child .textwidget *{
    /* margin: 0 5px; */
}
footer .textwidget table tbody tr td:first-child {
    width: 75px;
}

footer h3{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}


footer .details-wrapper{
    margin-bottom: 20px;
}

footer a{
    color: white!important;
}

footer .footer-separator{
    position: relative;
}


footer a:hover,
footer a:focus{
    text-decoration: none;
    opacity: 0.7;
}
footer .social{
    border-left: 0 !important;
}

footer .social-group li:hover a:hover i,
footer .social-group li a:hover i{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

footer .textwidget{
    line-height: 20px;
}
footer .textwidget *{
    font-size: 14px !important;
    /* display: inline-block; */
    margin-bottom: 0;
}
footer .social-group li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

footer .social-group li a{
    display: flex;
    justify-content: space-between;
}

footer .social-group li i{
    margin-right: 10px;
    margin-top: 2px;
    /* width: 22px;
    height: 22px; */
    background: #fff;
    font-size: 13px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

footer .social-group > li.fb i{
    color:#102c69;
    padding: 4px 7px;
}

footer .social-group > li.twt i{
    color:#102c69;
    padding: 4px 5px;
}

footer .social-group > li.gplus i{
    color:#102c69;
    padding: 5px 6px;
}
footer .social-group > li.ind i{
    color:#102c69;
    padding: 4px 5px;
}

@media (min-width: 992px) {
    footer .widget_text{
        display: flex;
        justify-content: center;
    }

    footer .widget_text .textwidget{
        padding-top: 5px;
    }
    footer .textwidget table tbody tr td:first-child {
        width: 45px;
    }
}

@media (max-width: 991px) {
    .widget_text{
        text-align: center;
    }
    .widget_text table{
        display: inline-block;
    }
    footer .grid-container .footer__item:last-child {
        border: 0;
        margin: 0;
        padding: 0;
    }
    footer .social-group li{
        margin: 5px 5px;
    }
}

@media (min-width: 480px) {
    footer .grid-container .footer__item:nth-child(2),
    footer .grid-container .footer__item:nth-child(3) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 992px) {
    footer .custom-col-grid{
        padding: 0 15px;
        margin-bottom: 0;
    }
    footer .grid-container .footer__item:nth-child(2),
    footer .grid-container .footer__item:nth-child(3) {
        flex: auto;
        max-width: none;
        flex: 0 0 24%;
        max-width: 24%;
    }
    footer .grid-container .footer__item {
        flex: 0 0 16%;
        max-width: 16%;
        border: 0;
        padding-bottom: 0;
    }
    /* footer .social-group { 
        text-align: center; 
    } */
    footer .social-group li {
        margin-bottom: 5px;
    }
    footer .social-group li a span {
        width: 45px;
        margin-top: 2px;
    }
    footer .grid-container .footer__item:last-child .textwidget p {
        display: block;
        margin: 0 0 5px;
    }
    footer .grid-container .footer__item:last-child .textwidget img {
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    footer .custom-col-grid{
        margin-bottom: 0;
    }
    footer .grid-container .footer__item:first-child{
        flex: 0 0 25%;
        max-width: 25%;
    }
    footer .grid-container .footer__item:nth-child(2) {
        flex: 0 0 20%;
        max-width: 20%;
    }
    footer .grid-container .footer__item:nth-child(3) {
        flex: 0 0 25%;
        max-width: 25%;
    }
    footer .grid-container .footer__item:nth-child(4) {
        flex: 0 0 13%;
        max-width: 13%;
    }
    footer .grid-container .footer__item:last-child {
        flex: 0 0 13%;
        max-width: 13%;
    }
}

section.copy,
.copy{
    padding:20px 0 30px 0;
    text-align: center;
    border-color: transparent;
}

.home .copy{
    border:none;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    text-align: center;
}

section.copy .textwidget,.copy .textwidget,
.copy .textwidget *{
    font-size: 14px !important;
    margin-bottom: 0; 
}

.copy{
    border-top:1px solid rgba(155,124,133,0.2);
    padding-top: 20px;
    padding-bottom: 0;
}

.table-standard{
    margin:0 auto;
    margin-bottom: 10px;
}
.TGDs.table td, .TGDs.table th, .TGLs.table td, .TGLs.table th, .TMGL td, .TMGL th, .table-standard td, .table-standard th{
    padding:5px 10px;
    border:1px solid;
    /* text-align: center; */
}

.TGDs tr:nth-child(1), .TGLs.table tr:nth-child(1), .TMGL tr:nth-child(1){
    background: #e8eaff;
    font-weight: bold;
}

/*
.TGD tr:first-child td, .TGL tr:first-child td{
    border: medium none;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 30px;
}
*/
.TGLs, .TGDs, .TMGL{
    margin:0 auto;
}

@media (min-width: 768px) {
    .banner-buttons-links {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        max-width: 162px;
        width: 100%;
    }
}


.home-ref-button a {
    background: rgb(220,220,220);
    background: linear-gradient(174deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #0f2f6e;
    font-size: 13px;
    display: block;
    padding: 16px 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.home-ref-button a:hover{
    text-decoration: none;
    color: #fff;
}
.home-ref-button a:hover{
    background: linear-gradient(355deg, rgba(9,42,96,1) 0%, rgba(7,107,184,1) 100%);
}


.tg-wrap table tr, .tg-wrap td, .tg-wrap th{
    width: 55px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#swpm-registration-form input, #swpm-login-form input, #swpm-pw-reset-form input, #swpm-editprofile-form input{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.swpm-remember-checkbox input[name="rememberme"]{
    height: auto !important;
}
#swpm-pw-reset-form .swpm-pw-reset-email-input{
    max-width: 400px;
}
.swpm-registration-widget-form #swpm-registration-form tbody td, #swpm-editprofile-form tbody td{
     padding-bottom: 1rem;
     padding-right: 10px;
}
.swpm-login-widget-form{
    margin-top: 35px;
}
.swpm-registration-submit-section{text-align: center;}
.swpm-registration-submit-section .swpm-registration-submit, .swpm-login-widget-form input, .swpm-login-widget-form checkbox, #swpm-pw-reset-form .swpm-pw-reset-submit-button input,
.swpm-edit-profile-submit-section .swpm-edit-profile-submit{
    width:auto !important;
}
.user-login li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.user-login li:after {
    border-right: 1px solid #2a4412;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
}
.user-login li:last-child:after{
    border: 0 none ;
}
.table tr, .tg-wrap td, .tg-wrap th{
    width: 55px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 5px;
}
.color-td-1{
    background-color: #a6a6a6;
}
.color-td-2{
    background-color: #d9d9d9;
}
.color-td-3{
    background-color: #acb9ca;
}

/*tables style*/
/*table td a,
table td strong{
    padding: 5px 10px;
}*/

table.border,
td.border{
    border:4px solid black;
}


td.bt{
    border-top:4px solid black;
}

td.br{
    border-right:4px solid black;
}

td.bb{
    border-bottom:4px solid black;
}

td.bl{
    border-left:4px solid black;
}

.sb-r{
    display: table-cell;
    padding: 0!important;
    text-align: center;
}

.sb-r a{
    display: inline-block;
    width: 100%;
    padding: 35px 10px;
    border-right: 3px solid black;
}

/*BASEMENT MACHINES*/
.page-id-125 .sb-r a{
    padding: 35px 10px;
}

.sb-l-w{
    display: table-cell;
    padding: 0!important;
    text-align: center;
}

.sb-l-w a{
    display: inline-block;
    width: 100%;
    padding: 20px 10px;
    border-left: 3px solid white;
    margin-left:-6px;
}

/*back to top*/
.page-id-220 .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgb(7,107,184) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.page-id-220 .cd-top.cd-is-visible, .page-id-220 .cd-top.cd-fade-out, .no-touch .page-id-220 .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.page-id-220 .cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.page-id-220 .cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}
.no-touch .page-id-220 .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

#swpm-editprofile-form, #swpm-pw-reset-form, #swpm-registration-form, #swpm-login-form{
    display: table;
    margin:0 auto;
}
.restricted-error, .register-succeess{
    text-align: center;
}
.swpm-registration-membership-level-row{
    display: none;
}
.bleft-none{border-left:0 !important;}
.bright-none{border-right:0 !important;}
.bbottom-none{border-bottom:0 !important;}
.btop-none{border-top:0 !important;}
.bleft-right{border-bottom:0 !important; border-right: 0 !important;}
em{
    font-size: 12px;
}
.clear{clear:both;}
.wrapper-multiple-table{
    margin: 0 auto;
    max-width: 865px;
}
.wrapper-multiple-table-machine-roomless{
    max-width: 1070px;
    margin:0 auto;
}
.left-table-align{float: left;}
.right-table-align{float: right;}
.overflow-scroll{
    overflow-x: auto;
    
}

.Btn-RequestQuote{
    background-color: #007f00;
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.Btn-RequestQuote:hover,
.Btn-RequestQuote:focus{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.welcome-btn .Btn-RequestQuote{
    display: block;
    max-width: 250px;
    text-align: center;
}


/*.wpcf7-form-control-wrap .wpcf7-form-control iframe[title="recaptcha widget"]{
    width: 340px !important;
}
.rc-anchor-normal{
    width: auto !important;
}
.rc-anchor-logo-portrait{
    margin: 10px 0 0 60px;
}*/
section.content h2.widgettitle{
    font-size: 30px;
    margin-bottom: 10px;
}
.widget_recent_entries h2, .widget_recent_entries a{
    color: #333;
}
.widget_recent_entries a{
    font-size: 16px;
}
.top-menu-mobile{display: none;}
.border-span{
    border-bottom: 1px solid;
    display: block;
    padding: 65px 44px 60px;
}
.border-span-geared{
    border-bottom: 1px solid;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}
.swpm-join-us-link{
    display: none;
}
/* additional css */
.video_cat {
  padding: 0px;
  max-width: 920px;
  margin: 0 auto 30px;
}
.video_cat > h3 {
    background: transparent;
    color: #000;
    width: 100%;
    padding: 0px 20px;
    margin: 0;
    font-size: 24px;

}
.video_wrap {
  /* padding: 20px 0 20px 20px; */
  position: relative;
  width: 100%;
}
.page-template-page-welcome > .content,
.page-template-page-allarchive > .content,
.page-template-page-profile > .content,
.page-template-page-videos > .content,
.page-template-page-leftsidebar > .content {
    /* padding-top: 3px */
}
.page-template .sidebar_wrap h3,
.page-template .sidebar_wrap .cBtn-learnmore,
.page-template-page-videos .sidebar_wrap h3,
.page-template-page-leftsidebar .sidebar_wrap h3,
.page-template-page-videos .sidebar_wrap .cBtn-learnmore,
.page-template-page-leftsidebar .sidebar_wrap .cBtn-learnmore {
    background: #ed1a24;
    color: #FFF;
    margin: 0 0 3px;
    padding: 20px;
    line-height: 1.5;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.page-template .sidebar_wrap h3 {
    color: #102e6c !important;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    background: #FFF;
    box-shadow: 0px 0px 20px #a7a7a7;
    -webkit-box-shadow: 0px 0px 20px #a7a7a7;
    -moz-box-shadow: 0px 0px 20px #a7a7a7;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .page-template .sidebar_wrap h3 { padding: 40px 10px; }
}
.page-template .sidebar_wrap h3 img {
    max-width: 100%;
}
.page-template .sidebar_wrap .cBtn-learnmore {
    border-top: 1px solid #989898;
    border-bottom: 1px solid #464646;
    background: #7b7b7b;
    margin: 0px;
    opacity: 1;
}
.page-template .sidebar_wrap .cBtn-learnmore:hover {
    background: #929292;
}
.page-template .sidebar_wrap .cBtn-learnmore.active:hover,
.page-template .sidebar_wrap .cBtn-learnmore.active {
    background: #a00a11;
    border-top: 1px solid #a00a11;

    background: #565656;
    border-top: 1px solid #3e3e3e;
    opacity: 1;
    color: #FFF;
}
.the_content {
    padding: 0px 10px 10px 10px;
}
section.content .the_content p {
    font-size: 22px;
}
.the_content p:last-child{
    margin-bottom: 0px;
}
.page-template-page-welcome .content_wrap,
.page-template-page-allarchive .content_wrap,
.page-template-page-leftsidebar .content_wrap {
    /* padding-top: 15px; */
    padding-top:0px;
}
.page-template-page-welcome .content_wrap hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #7b7b7b;
}
.page-template .content_wrap .acf-form input[type="submit"]{
    background: #000;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 10px 13px 15px;
    font-weight: bold;
    font-size: 17px;
}
#message.updated {
    padding: 22px 14px;
    background: green;
    color: #FFF;
    font-size: 17px;
}
#message.updated p {
    display: none;
}
#message.updated:before {
    display: block;
    content: "Profile is now updated.";
    position: relative;
}
.table-stripped thead tr th {
    height: 50px !important;
    color: #fff;
    background: #333333;
    vertical-align: middle;
}
.table-stripped tbody tr td {
        padding: 5px 15px !important;
}
.table-stripped tbody tr:nth-child(odd) td:nth-child(odd) {
    background: #f6f6f6;
}
/* .table-stripped tbody tr:nth-child(even) td:nth-child(even) {
    background: #f6f6f6;
} */
.table-stripped tbody tr i.fa {
    color: #ed1a24;
    font-size: 23px;
    display: inline-block;
    overflow: hidden;
}
.table-stripped tbody tr i.fa.fa-envelope-o {
    color: #337ab7;
}
.table-stripped tbody tr i.fa span {
    text-indent: -9999px;
    display: inline-block;
}
.table.table-stripped > thead > tr > th,
.table.table-stripped > :first-child>tr:first-child th {
    padding: 8px;
    padding: 4px 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border: 1px solid #d2d2d2;
    font-size: 24px;
    font-weight: bold;
}
table > tbody > tr > td,
.table > tbody > tr > td,
.table-stripped > tbody > tr > td {
    vertical-align: middle;
    padding: 6px 8px 2px;
    padding: 2px 8px 0px;
    border: 1px solid #d2d2d2;

}
table > thead > tr > th,
.table > thead > tr > th,
table.table>thead:first-child>tr:first-child>th {
    border: 1px solid #d2d2d2;
    font-size: 24px;
    font-weight: bold;
}
.content_wrap table > thead > tr > th {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 4px 8px;
    line-height: 1.42857143;
    width: 900px;
}

table > tbody > tr td,
.table > tbody > tr td {
    vertical-align: middle;
    text-align: left;
}
table > tbody > tr:first-child td {
    font-size: 24px;
    font-weight: bold;
}
.textwidget table > tbody > tr:first-child td,
table > thead ~ tbody > tr td {
    font-size: 15px !important;
    font-weight: normal !important;

}


#faq1189 table tbody tr td,
#faq1191 table tbody tr td {
    /* padding: 11px 15px; */
    padding: 6px 10px;
    text-align: center;
}

#faq1191 table thead tr.tableizer-firstrow th {
    padding: 0px 6px !important;
    height: 48px;
    vertical-align: middle;
    background: #333333;
    color: #fff;

}



.table.table-pdf > tbody > tr td:last-child {
    text-align: center;
}

.content_wrap#video_wrap {
    padding-top: 0px;
}
.content_wrap ul.faqsul {
    display: block;
    padding: 0px;
    margin: 0;
    list-style: none;
}
.content_wrap ul.faqsul li {
    display: block;
    margin: 2px 0;
    border: 1px solid #151515;
}
.content_wrap ul.faqsul li > a {
    display: block;
    background: #151515;
    color: #FFF;
    padding: 10px 20px;
}
.widget_recent_entries li > a,
.content_wrap ul.faqs li > a {
    color: #337ab7;
    color: #00e;
    /*text-decoration: underline;*/
}
.content_wrap ul.faqs li > div,
.content_wrap ul.faqsul li > div {
    padding: 20px;
    display: none;
}

#faqlist {
    margin: 0 0 0;
}
#faqlist h4 {
    margin: 0;
    padding: 15px 0 20px;
    font-weight: bold;
}

.reset-icon {
    color: #000;
    font-size: 15px;
}

/* .tab-pane table tbody tr td {
    text-align: left;
    color: #000;
} */

.main-quote-wrap .csv-tbl .tbl-header {
    font-size: 12px;
}

.main-quote-wrap .scrollbar {
    margin-bottom: 10px;
}

.dashboard_content ul.nav-tabs li {
    margin-bottom: 0px;
    margin-left: 0px;
}

.dashboard_content ul.nav-tabs li a {
    font-size: 15px;
}

.load_more_button5 {
    border-radius: 1px !important;
    padding: 7px 17px !important;
    font-weight:700 !important;
    text-transform: uppercase !important;
}

#video_wrap #video_cats #video_cat [class^="video-element"] {
    height: auto;
    margin: 10px 9px;
    border-radius: 4px;
    overflow: hidden;
    /* hugeit fix - start */
    position: relative !important;
    top: auto !important;
    left: auto !important;
    display: inline-block;
    letter-spacing: 0px !important;
    transform: none !important;
    transition: none !important;
    /* hugeit fix - end */
    width: 100%;
    max-width: 185px;
}

#video_wrap #video_cats #video_cat .huge_it_videogallery_container > div {
    letter-spacing: -5px;
    text-align: left;
    height: auto !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}
#video_wrap #video_cats #video_cat [class^="video-element"] [class^="title-block"] {
    margin: 0;
    padding: 10px;
    min-height: initial;
    position: relative;
    height: auto !important;
}

#video_wrap #video_cats #video_cat [class^="video-element"] [class^="title-block"] h3 {
    line-height: 14px !important;
    font-weight: bold;
    color: #000000;
    overflow: visible;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    width: 100%;
    text-transform: uppercase;
}
#video_wrap #video_cats #video_cat .videogallery-image-overlay  {
    display: block !important;
    background: transparent !important;
}
#video_wrap #video_cats #video_cat .videogallery-image-overlay a {
    background: url(../images/play-button.png) no-repeat center center transparent;
}

.page-template-page-welcome .btn.btn-link {
    margin: -20px 0 0px;
    font-size: 22px;
    font-weight: bold;
    color: #00e;
    /*text-decoration: underline;*/
}

.content_wrap .acf-form {
    margin-top: 30px;
    max-width: 560px;
}
.content_wrap .acf-field .acf-label {
    font-size: 13px;
    margin-bottom: 3px;
}
.content_wrap .acf-field .acf-label label {
    margin-bottom: 3px;
    font-size: 22px;
}
.content_wrap .acf-fields > .acf-field {
    width: 50%;
    min-height: 65px;
    border: none !important;
    padding: 5px 12px;
}

.sidebar_wrap {
    padding-bottom: 15px;
}

.back-to-top {
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;

    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
    margin: 0;
    display: none;
}
.back-to-top a {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background: #102e6c;
    color: #FFF;
    /*border-radius: 50%;*/
    text-indent: -999px;
    height: 60px;
    width: 60px;
    position: relative;
    /*transform: rotate(-90deg);*/

    background: #102e6c url(../images/cd-top-arrow.svg) no-repeat center 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.back-to-topx a:after {
    content: "\00bb";
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    z-index: 2;
    text-indent: 0px;
    font-size: 60px;
    margin: -34px 0 0 -14px;
    line-height: 100%;
}

section.content .acf-error-message p {
    color: #FFF;
    margin: 7px 0;
}
section.content .acf-input .acf-error-message {
    position: absolute !important;
    top: 0px;
    z-index: 2;
    padding: 0px 10px;
    height: 29px;
}
section.content .acf-input .acf-error-message p {
    line-height: 16px;
}
/*.page-template .sidebar_wrap .cBtn-learnmore {
    border-top: 1px solid #989898;
    border-bottom: 1px solid #464646;
    background: #7b7b7b;
    margin: 0px;
    opacity: 1;
    margin: 0px 0 15px -20px;
    padding: 15px;
    width: calc(100% + 20px);
    position: relative;
}*/
.page-template .sidebar_wrap .cBtn-learnmore {
    background: transparent;
    opacity: 1;
    margin: 0px 0 0px;
    padding: 15px 34px 15px 10px;
    width: 100%;
    color: #000;
    position: relative;
    text-transform: none;
    font-weight: normal;
    border: none;
    text-align: left;
    /*font-size: 16px;*/
    font-size: 22px;
    font-weight: bold;
}
.page-template .sidebar_wrap .cBtn-learnmore:hover {
    color: #FFF;
}
.page-template .content {
    overflow: hidden;
}
.page-template .container {
    position: relative;
}
/*.bg-side {
    width: 262px;
    height: 200%;
    position: absolute;
    top: -3px;
    left: 15px;
    background: white;
    box-shadow: 0px 0px 16px #000;
    max-width: calc(25% - 30px);
}*/
.bg-side {
    width: 100%;
    height: 200%;
    position: absolute;
    top: -30px;
    left: -100%;
    background: #fff;
    margin-left: calc(25% - 15px);
}

/*.page-template .sidebar_wrap a.cBtn-learnmore:before {
    width: 0px;
    height: 0px;
    display: block;
    content: " ";
    position: absolute;
    bottom: -12px;
    left: 0px;
    /* background: #585858; *//*
    border-top: 0px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 20px solid #585858;
}*/
.page-template .sidebar_wrap a.cBtn-learnmore:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: 'Glyphicons Halflings';
    content: "\e092";
    font-size: 14px;
    opacity: 0;
    color: #FFF;
    transition: all 0.3s ease;
}
.page-template .sidebar_wrap .cBtn-learnmore.active:after,
.page-template .sidebar_wrap a.cBtn-learnmore:hover:after {
    opacity: 1;
}
.welcome-btn .Btn-RequestQuote.btn-box {
    display: table-cell;
    width: 100%;
    max-width: none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    height: 200px;
    text-shadow: 1px 1px 1px #000;
    color: #000;
    font-size: 24px;
    text-transform: none;
    line-height: 23px;
    font-weight: normal;
}
.welcome-btn .Btn-RequestQuote.btn-box.btn-yellow { background: #ffcd11; }
.welcome-btn .Btn-RequestQuote.btn-box.btn-green { background: #007f00; }

.welcome-btn .Btn-RequestQuote.btn-box.btn-yellow { background: #ffd700; text-shadow: 1px 0px 0px #ffe37a; }
.welcome-btn .Btn-RequestQuote.btn-box.btn-green { background: #00a82d; text-shadow: 1px 0px 0px #00c535; }
.btn-box_sep {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
}
.btn-box_sep .glyphicon {
    color: #00a82d;
    font-size: 45px;
}

.box-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box-content-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
}

.box-content-image img {
    max-width: 100%;
    height: auto;
}

.action-box {
    width: 195px;
    height: 156px;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    background: #0119cb;
    border-radius: 4px;
    padding: 15px 5px;
    background-image: -moz-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    background-image: -ms-linear-gradient( -86deg, rgba(9,42,96,0.83137) 0%, rgb(7,104,180) 51%, rgb(7,107,184) 54%, rgb(9,42,96) 100%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.action-box .box-content,
.action-box .box-content h3,
.action-box .box-content p,
.action-box .box-content > i {
    color: #fff !important;
}

.action-box.box-green .box-content,
.action-box.box-green .box-content h3,
.action-box.box-green .box-content p,
.action-box.box-green .box-content > i {
    /* color: #000 !important; */
}

.action-box.box-green {
    /* background: #ffd700; */
}
.action-box.box-sep {
    width: 89px;
    background: transparent;
    box-shadow: none;
}
.action-box.box-sep .glyphicon {
    color: #102e6c;
    font-size: 45px;
}
.action-box .box-content h3 {
    color: #000;
    font-size: 24px;
    text-transform: none;
    line-height: 17px;
    font-weight: bold;
    margin: 5px 0 0;
}
.action-box .box-content p {
    font-size: 13px;
    margin: 0;
}
.action-box .fa {
    font-size: 50px;
}
.action-box .btn-box {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 16px;
    background: #000;
    border-radius: 4px;
    background-image: -moz-linear-gradient( -86deg, rgb(0,176,80) 0%, rgb(4,156,73) 99%);
    background-image: -webkit-linear-gradient( -86deg, rgb(0,176,80) 0%, rgb(4,156,73) 99%);
    background-image: -ms-linear-gradient( -86deg, rgb(0,176,80) 0%, rgb(4,156,73) 99%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
    display: inline-block;
    max-width: 92px;
    width: 100%;
    margin: 5px 0 0;
    transition: all .3s ease;
    line-height: 15px;
}

.action-box.start .btn-box {
    color: #102e6c;
    background-image: -moz-linear-gradient( -86deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( -86deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( -86deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
}

.action-box.box-yellow .btn-box {
    background-image: -moz-linear-gradient( -86deg, rgb(255,192,0) 0%, rgb(233,177,8) 99%);
    background-image: -webkit-linear-gradient( -86deg, rgb(255,192,0) 0%, rgb(233,177,8) 99%);
    background-image: -ms-linear-gradient( -86deg, rgb(255,192,0) 0%, rgb(233,177,8) 99%);
    color: #fff;
}

.action-box .btn-box:hover {
    background: #092a60;
    color: #fff;
    text-decoration: none;
}

.action-box.box-yellow  .btn-box:hover {
    background: #092a60;
    color: #fff;
    text-decoration: none;
}

.action-box.no-content {
    background: transparent;
    box-shadow: none;
    opacity: 0;
}

.filter-item select.button_example.form-control {
    display: none !important;
}

.content .sidebar_wrap .dashboard_menu h3.pm-welcome-heading {
    text-transform:  capitalize;
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
}

.content_wrap .mcr-form-wrap .message {
    margin-bottom: 0px;
    margin-left: 8px;
}

section.content h3,
section.content h4,
section.content ul.alist,
section.content ul.faqs,
section.content ul.alink,
.content_wrap h3,
.page-template-page-welcome .btn.btn-link,
.action-box .box-content h3,
.page-template .sidebar_wrap .cBtn-learnmore,
.content_wrap .acf-field .acf-label label,
.table.table-stripped > thead > tr > th,
.content_wrap table > thead > tr > th,
table > thead > tr > th,
.table > thead > tr > th,
table.table>thead:first-child>tr:first-child>th,
.table.table-stripped > :first-child>tr:first-child th {
    font-size: 14px;
    font-weight: bold;
}
section.content .the_content p {
    font-size: 14px;
    font-weight: 500;
}
.action-box .box-content h3,
.page-template .sidebar_wrap .cBtn-learnmore {
    font-size: 14px;
    text-transform: uppercase;
}
section.content ul.alist,
section.content ul.faqs,
section.content ul.alink {
    font-size: 14px;
}

.borderZero{
    border-top: none !important;
    border-left: none !important;
    border-right: 4px solid #000 !important;
}
.diagonalDivide{
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.diagonalDivide .line {
    width: 112px;
    height: 4px;
    border-bottom: 4px solid #000;
    transform: translateY(-20px) translateX(5px) rotate(26deg);
    position: absolute;
    z-index: -1;
    left: -22px;
}
.diagonalDivide>div {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.diagonalDivide .bottom {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.diagonalDivide .top {
  position: absolute;
  top: 1px;
  right: 1px;
}
.sparePartsImg{
    width: 108px;
    height: auto;
}
.shippingContent li{
    padding: 7px 0;
    line-height: 150%;
}


@media screen and (min-width: 1200px) {
    #panel-info{
        bottom: 50px;
    }
}
@media screen and (min-width: 992px) {
    footer .footer-separator:after{
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.30);;
    }
}

@media (max-width: 1200px) {
    .back-to-top { height: 40px;  width: 40px; right: 15px; bottom: 15px; }
    .back-to-top a { height: 40px;  width: 40px; }
}
@media (min-width: 768px) and (max-width: 1025px) {
    .textwidget table > tbody > tr{
        display: block;
        margin-bottom: 2px;
    }
    /* .textwidget table > tbody > tr td {
        display: block;
        line-height: 22px;
    } */
}
@media (max-width: 991px) {
    .bg-side { display: none; }
    #video_cat .gallery-video-content {
        width: calc(100% - 20px);
        text-align: center;
    }
    #video_wrap #video_cats #video_cat .huge_it_videogallery_container > div {
        text-align: center;
    }
}
@media (max-width: 768px) {
    /*.back-to-top { right: 6px; margin-bottom: -16px; }*/
    .box-wrapper {
        text-align: center;
    }
    .box-wrap {
        display: inline-block;
    }
    .action-box.box-sep {
        display: block;
        height: 0px;
        overflow: hidden;
        opacity: 0;
    }
    .content_wrap.welcome-right {
        display: block;
        /* overflow: auto; */
    }
}
@media (min-width: 1310px) {
    .video_cat { width: 920px; }
}

.welcome-right .table-pdf tbody tr td {
    text-align: center;
}

.contact-details table > tbody > tr td {
    border: none;
    padding: 0;
}

.announcementbar {
    color:#fff;padding: 10px 0px;font-size: 14px;
}
.announcementbar strong {
    font-family:Arial;padding-bottom:10px;
    }

@media (max-width: 736px){
    /* .wpcf7-form-control-wrap{
        display: block;
        margin-left: 16px;
        margin-top: -21px;
        margin-bottom: -15px;
        margin-right: 15px;
    } */
    section .wpcf7-form input.wpcf7-submit{
        margin-left: 17px;
        margin-bottom: 26px;
        margin-top: 11px;
    }
    .wpcf7-recaptcha{
        margin-left: 0px;
        margin-bottom: 31px;
        margin-top: 31px;
    }

}

@media (max-width: 414px){
    .diagonalDivide .line{
        transform: unset;
        left: -13px;
        top: 17px;
        width: 56px;
    }
    .diagonalDivide .bottom{
        bottom: -3px;
    }
    .diagonalDivide .top{
        top: -3px;
    }
}




/* -------- Fix for Video Plugin use in Video Training Page ----- */
.huge_it_videogallery_container > div:first-child { height: auto !important; }

.huge_it_videogallery_container.super-list > div:first-child { height: auto !important; }

/*
.huge_it_videogallery_container .video-element {
    display: inline-block !important;
    position: static !important;
    margin: 0 10px !important;
}
*/

.huge_it_videogallery_container.super-list .video-element .image-block .videogallery-image-overlay a {
    background: url(../images/play-button.png) center center no-repeat !important;
}



/**************************/

table.table-standard  tbody tr td {
    text-align: center;
}

table.table-standard  tbody tr td a {
    color: #000000;
    text-decoration: underline;
}
table.table-standard  tbody tr:first-child td:first-child {
    display: none;
}
table.table-standard  tbody tr:first-child td:last-child {
    color: #102d6a;
    font-size: 28px;
    text-transform: uppercase;
}
.cBtn-learnmore {
    max-width: 229px;
    width: 100%;
    padding: 14px 20px;
}

table.table-standard  tbody tr:nth-child(2) td {
    background-image: -moz-linear-gradient( -90deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(7,107,184) 0%, rgb(9,42,96) 100%);
    color: white;
    padding: 15px;
    border-color: #092a60;
}

table.table-standard  tbody tr:nth-child(2) td:first-child {
    background: white;
    color: #102d6a;
    text-transform: uppercase;
}


table.border,
td.border{
    border:4px solid #092a60;
}


td.bt{
    border-top:4px solid #092a60;
}

td.br{
    border-right:4px solid #092a60;
}

td.bb{
    border-bottom:4px solid #092a60;
}

td.bl{
    border-left:4px solid #092a60;
}

.box-bordered {
    border: 1px solid #e3e3e3;
    padding: 20px;
    border-radius: 4px;
}

/* custom css */

.margin-bottom-30 {
    margin-bottom: 30px;
}

.tbl-specs table {
	border: 4px solid #092a60;
}
.tbl-specs table tr td {
    font-size: 14px!important;
    text-align: center;
    background-color: #FFFFFF;
    padding: 5px;
    font-weight: 100!important;
    border: 2px solid #000000!important;
}

.tbl-specsv2 table {
	border: 4px solid #092a60;
}
.tbl-specsv2 table tr td {
    font-size: 14px!important;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    border: 2px solid #000000!important;
    font-weight: 100!important;
}

.img-full {
    width: 100%;
    height: auto!important;
}

.page--videos .dashboard_menu {
    width:100%;
}
.page--videos .toggle_wrap {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 550px) {
    .revert-flex-550 {
        display: block!important;
    }
}

.product--manuals-china .section__tab {
    max-width: 990px;
    margin: 0 auto;
}

.single-slide-bg-- {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.single-slide-bg--:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%);
    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
}

.d-flex-bottom {
	display: flex;
	align-items: flex-end;
}
@media screen and (max-width:767px) {
	.d-block-sm {
		display: block!important;
	}
}
@media screen and (max-width: 576px) {
    .d-block-xs {
        display: block!important;
    }
}
.toggle_wrap {
    display: flex;
    justify-content: flex-end!important;
}
.dashboard_menu {
    width: 100%;
}
/* close custom css */